{
  "env": {
    "development": {
      "presets": ["@babel/preset-env"],
      "plugins": [
        "add-module-exports"
      ]
    },
    "production": {
      "presets": ["@babel/preset-env", "minify", "@babel/preset-react"], 
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
