registry='https://registry.npmjs.org'

always-auth=true
; begin auth token
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/:username=mediafish
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/:_password=eXRhajVrNGNibXhhenp0eTY1cXMybG41cmU0ejdtNzVlNnlqYnN4cnBzYWw0cjNlcnBqYQ==
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/:email=dsanders@mediafish.io
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/:username=mediafish
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/:_password=eXRhajVrNGNibXhhenp0eTY1cXMybG41cmU0ejdtNzVlNnlqYnN4cnBzYWw0cjNlcnBqYQ==
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/:email=dsanders@mediafish.io
; end auth token