registry=https://mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/

always-auth=true

; begin auth token
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/:username=mediafish
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/:_password=mag2bnvrfll4lchwcsvan273jnuh5pr6due4lmnt4b3t27yrsrgq
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/registry/:email=npm requires email to be set but doesn't use the value
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/:username=mediafish
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/:_password=mag2bnvrfll4lchwcsvan273jnuh5pr6due4lmnt4b3t27yrsrgq
//mediafish.pkgs.visualstudio.com/Treble-GSM/_packaging/treble-gsm-package/npm/:email=npm requires email to be set but doesn't use the value
; end auth token